.results-filters-wrap {
    @include outer-container(1000px);
}

.property-filters {
    @include fill-parent();
    //border-bottom: 1px solid $outline-color;
}

.filter {
    @include span-columns(6);
    @include omega(2n);
    padding: 20px 0px 25px 10px;
    p {
        @include span-columns(2 of 6);
        text-align: right;
        padding-right: 30px;
    }
    >div {
        @include span-columns(4 of 6);
        padding-top: 15px;
    }
}

.select-wrap {
    position: relative;
    display: inline-block;
    border: 1px solid $outline-color;
    padding: 5px 0px 5px 0px;
    bottom: 7px;
    select {
        border: 0;
        border-radius: 0;
        background: transparent;
    }
}

.mobile-filter-btn {
    display: none;
}

@media (max-width: 900px) {
    .mobile-filter-btn {
        display: block;
        @include fill-parent();
        text-align: center;
        padding-bottom: 10px;
        button {
            position: relative;
            padding: 12px 22px 12px 22px;
            border: 2px solid $green;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin-left: 10px;
            color: white;
            font-weight: 500;
            font-size: 150%;
            transition: background-color 0.5s ease;
            background: $green;
        }
    }
    .results-filters-wrap {
        @include outer-container(1000px);
    }
    .property-filters {
        @include fill-parent();
        border-bottom: 1px solid $outline-color;
    }
    .filter {
        @include fill-parent();
    }
}
