$navy: rgb(52, 73, 94);
$green: #2ECC71;
$link-hover: #83228C;
$transparent-navy: rgba(52, 73, 94, 0.8);
$txtColor2: #666;
$result-highlight: rgba(92, 242, 156, 0.4);

//form select variables
$outline-color: #DBDBDB;